# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
unity-proj/[Ll]ibrary/
unity-proj/[Tt]emp/
unity-proj/[Oo]bj/
unity-proj/[Bb]uild/
unity-proj/[Bb]uilds/
unity-proj/[Ll]ogs/
unity-proj/[Uu]ser[Ss]ettings/
unity-proj/[Mm]emoryCaptures/
unity-proj/[Rr]ecordings/
unity-proj/[Aa]ssets/Plugins/Editor/JetBrains*
unity-proj/.vs/
unity-proj/.gradle/
unity-proj/ExportedObj/
unity-proj/.consulo/
unity-proj/*.csproj
unity-proj/*.unityproj
unity-proj/*.sln
unity-proj/*.suo
unity-proj/*.tmp
unity-proj/*.user
unity-proj/*.userprefs
unity-proj/*.pidb
unity-proj/*.booproj
unity-proj/*.svd
unity-proj/*.pdb
unity-proj/*.mdb
unity-proj/*.opendb
unity-proj/*.VC.db
unity-proj/*.pidb.meta
unity-proj/*.pdb.meta
unity-proj/*.mdb.meta
unity-proj/sysinfo.txt
unity-proj/*.apk
unity-proj/*.aab
unity-proj/*.unitypackage
unity-proj/*.unitypackage.meta
unity-proj/*.app
unity-proj/crashlytics-build.properties
unity-proj/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
unity-proj/[Aa]ssets/[Ss]treamingAssets/aa.meta
unity-proj/[Aa]ssets/[Ss]treamingAssets/aa/*
